Package: daniel.analytics
Name: OSAnalytics
Version: 0.0.2
Architecture: iphoneos-arm
Description: Enables various enhancements within stock iOS crashlogs
Maintainer: daniel & PoomSmart
Author: daniel & PoomSmart
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 14.0)
Depiction: https://poomsmart.github.io/repo/depictions/osanalytics.html
SileoDepiction: https://poomsmart.github.io/repo/sileodepictions/osanalytics.json
